.heroPanel {
  display: flex;
  background: linear-gradient(90deg, #060c15 5%, #243b5d 100%);
  border: 2px solid #00f6ff;
  box-shadow:
    0 0 20px rgba(0, 246, 255, 0.3),
    inset 0 0 15px rgba(0, 246, 255, 0.1);
  border-radius: 16px;
  padding: 10px 0 0 40px;
  position: relative;
  min-height: 350px;
}
.preOrderBtn {
  background: #ff880095;
  border: 2px solid #ff8a00;
  color: white;
  padding: 10px 24px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  width: fit-content;
}

.preOrderBtn:hover {
  background-color: #ff8a00;
  color: #0b1524;
  box-shadow: 0 0 15px rgba(255, 138, 0, 0.5);
}

.heroSection {
  padding: 40px 0 0 0;
}
.textSide {
  flex-basis: 50%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.badge {
  color: #00f6ff;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: block;
}

.textSide h1 {
  font-size: 4.5rem;
  line-height: 1;
  margin: 0 0 30px 0;
  color: white;
  text-shadow:
    0 0 15px rgba(0, 246, 255, 0.5),
    0 0 30px rgba(0, 246, 255, 0.3);
  text-transform: uppercase;
  font-weight: 800;
}

.imageSide {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.imageSide img {
  width: 70%;
  max-width: none;
  margin-right: -50px;
  margin-top: -60px;
  z-index: 999;
}

@media (max-width: 768px) {
  .heroPanel {
    flex-direction: column;
    padding: 30px 20px 0 20px;
    align-items: center;
    text-align: center;
  }

  .textSide h1 {
    font-size: 2.8rem;
    margin-bottom: 20px;
  }

  .preOrderBtn {
    margin: 0 auto;
  }

  .imageSide img {
    width: 90%;
    margin: 30px 0 0 0;
  }
}
