.card {
  border: 1px solid #00f6ff;
  border-radius: 12px;
  padding: 16px;
  width: 250px;
  display: flex;
  flex-direction: column;
  background-color: #1e293b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.image {
  width: 100%;
  height: 220px;
  object-fit: contain;
  margin-bottom: 12px;
  filter: drop-shadow(0 0 15px rgba(0, 246, 255, 0.4));
  transition: transform 0.3s ease;
}

.card:hover .image {
  transform: translateY(-10px) scale(1.05);
  filter: drop-shadow(0 0 25px rgba(0, 246, 255, 0.7));
}

.title {
  color: white;
  margin-bottom: 8px;
}

.price {
  font-size: 1.25rem;
  color: #00f7ffa7;
  margin: 8px 0;
}

.button {
  background: #ff880095;
  border: 2px solid #ff8a00;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: auto;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #ff8a00;
  color: #0b1524;
  box-shadow: 0 0 15px rgba(255, 138, 0, 0.5);
}

@media (max-width: 768px) {
  .image {
    height: 150px;
  }
  .title {
    font-size: 1.1rem;
  }
  .price {
    font-size: 0.9rem;
  }

  .button {
    padding: 0.4rem;
    font-size: 0.8em;
  }
}
