.pageContainer {
  padding-top: 40px;
  padding-bottom: 100px;
}

.header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 40px;
}

.title {
  color: white;
  font-size: 2.5rem;
  margin: 0;
}

.centeredGrid {
  justify-content: center;
}
