.headerWrapper {
  background-color: var(--color-bg);
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.logoLink {
  text-decoration: none;
  color: inherit;
}

.logo {
  margin: 0;
}

.brandAccent {
  color: var(--color-primary);
}
.cartBtn {
  position: relative;
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.cartBtn:hover {
  transform: scale(1.1);
}

.badge {
  position: absolute;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  background-color: var(--color-primary);
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  top: -5px;
  right: -10px;
}
