.headerWrapper {
  background-color: var(--color-bg);
  border-bottom: 2px solid #00bdc347;
  margin-bottom: 0.5rem;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.logoLink {
  text-decoration: none;
  color: inherit;
}

.logo {
  margin: 0;
}

.brandAccent {
  color: var(--color-primary);
}

.navigation {
  display: flex;
  gap: 2rem;
}

.navLink {
  color: #94a3b8;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}
.navLink:hover {
  color: #00f6ff;
}

.actions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.searchContainer {
  display: flex;
  align-items: center;
  background-color: #1e293b;
  padding: 8px 10px;
  border-radius: 10px;
  border: 1px solid #334155;
  transition: all 0.3s ease;
}

.searchInput {
  background: transparent;
  border: none;
  outline: none;
  color: var(--color-text);
  width: 200px;
}

.searchIcon {
  color: #94a3b8;
  margin-left: 8px;
}

.searchContainer:focus-within {
  border-color: var(--color-primary);
  box-shadow: 0 0 10px rgba(0, 246, 255, 0.3);
}

.cartBtn {
  position: relative;
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.cartBtn:hover {
  transform: scale(1.1);
}

.shopingCart {
  color: white;
}

.badge {
  position: absolute;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  background-color: var(--color-primary);
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  top: -5px;
  right: -10px;
}

.burgerBtn {
  display: none;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  padding: 8px;
}

@media (max-width: 768px) {
  .navigation {
    display: none;
  }
  .headerContent {
    flex-wrap: wrap;
  }

  .searchContainer {
    order: 3;
    width: 100%;
    margin-top: 16px;
  }

  .searchInput {
    width: 100%;
  }

  .burgerBtn {
    display: block;
  }

  .mobileNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0b1524;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .mobileNav a {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .burgerBtn {
    display: block;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    padding: 8px;
    position: relative;
    z-index: 100;
    transition: transform 0.3s ease-in-out;
  }
  .burgerBtnOpen {
    transform: rotate(90deg) scale(1.1);
  }
}
