.headerWrapper {
  background-color: var(--color-bg);
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.logoLink {
  text-decoration: none;
  color: inherit;
}

.logo {
  margin: 0;
}

.brandAccent {
  color: var(--color-primary);
}

.searchContainer {
  display: flex;
  align-items: center;
  background-color: #1e293b;
  padding: 8px 16px;
  border-radius: 10px;
  border: 1px solid #334155;
}

.searchInput {
  background: transparent;
  border: none;
  outline: none;
  color: var(--color-text);
}

.searchIcon {
  color: #94a3b8;
  margin-right: 8px;
}

.searchContainer:focus-within {
  border-color: var(--color-primary);
  box-shadow: 0 0 10px rgba(0, 246, 255, 0.3);
}

.cartBtn {
  position: relative;
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.cartBtn:hover {
  transform: scale(1.1);
}

.shopingCart {
  color: white;
}

.badge {
  position: absolute;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  background-color: var(--color-primary);
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  top: -5px;
  right: -10px;
}
