.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.product-grid {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
}

.shop-layout {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 30px;
  margin: 40px 0 40px 0;
  align-items: start;
}
