.container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: left;
}

.shop-layout {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 30px;
  margin: 40px 0 40px 0;
  align-items: start;
}

@media (max-width: 768px) {
  .shop-layout {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 16px;
  }
}

@media (max-width: 480px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}
